{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Pedidos{% endblock %}</h1>
{% endblock %}
{% block content %}
<form method="post">
  {% for post in options %}
    <article class="post">
      <header>
        <div>
            <div class="h1"> {{ post['username'] }} pediu a permissão de {{ post['type'] }} :</div>
            
            <label for="options">condição</label>  
            <select name="options"  method="GET" action="{{ request.form['options'] }}">
            {% for option in keys %}
                <option value="{{option[0]}},{{post['username']}}" SELECTED>{{option[1]}}</option>"
            {% endfor %}
                
            </select>
            
               <input type="submit" value="Save">
          </div>
     </header>
   </article>
   {% endfor %}
  </form>
  
{% endblock %}
